/*@import './base.css';*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #f0f0f1;
    font-family: 'Lexend', sans-serif;
}

#wpbody-content > div:not([data-v-app]) {
    display: none;
}

@layer base {
    html {
        font-family: 'Lexend', sans-serif;
    }
}

.dotstyle ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
}

.dotstyle li {
    position: relative;
    display: block;
    float: left;
    margin: 0 16px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.dotstyle-bg{
    background-color: #D9D9D9 !important;
}
.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255,255,255,0.3);
    text-indent: -999em;
    cursor: pointer; /* make the text accessible to screen readers */
    position: absolute;
}

/* Puff */

/*.dotstyle-puff li a {*/
/*    !*border: 2px solid #D9D9D9;*!*/
/*    -webkit-transition: border-color 0.3s ease;*/
/*    transition: border-color 0.3s ease;*/
/*    background: #D9D9D9;*/
/*}*/

/*.dotstyle-puff li a::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 200%;*/
/*    height: 100%;*/
/*    visibility: hidden;*/
/*    background: #332247;*/
/*    border-radius: 15px;*/
/*    box-shadow: 0 0 1px #332247;*/
/*    opacity: 0;*/
/*    -webkit-transform: scale(3);*/
/*    transform: scale(3);*/
/*    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease, visibility 0s 0.3s;*/
/*    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;*/
/*}*/

/*.dotstyle-puff li a:hover,*/
/*.dotstyle-puff li a:focus,*/
/*.dotstyle-puff li.current a {*/
/*    !*border-color: #D9D9D9;*!*/
/*}*/

/*.dotstyle-puff li.current a::after {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*    -webkit-transform: scale(1);*/
/*    transform: scale(1);*/
/*    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;*/
/*    transition: opacity 0.3s ease, transform 0.3s ease;*/
/*}*/





/* Dot move */

.dotstyle-dotmove li:last-child {
    position: absolute;
    left: 0;
    margin: 0;
    width: 48px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}

.dotstyle-dotmove li:last-child::after {
    content: '';
    position: absolute;
    left: 50%;
    /*top: -1px;*/
    width: 21px;
    height: 12px;
    border-radius: 18px;
    background: #332247;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dotstyle-dotmove li.current:first-child ~ li:last-child {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.dotstyle-dotmove li.current:nth-child(2) ~ li:last-child {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.dotstyle-dotmove li.current:nth-child(3) ~ li:last-child {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

.dotstyle-dotmove li.current:nth-child(4) ~ li:last-child {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
}

.dotstyle-dotmove li.current:nth-child(5) ~ li:last-child {
    -webkit-transform: translateX(400%);
    transform: translateX(400%);
}

.dotstyle-dotmove li.current:nth-child(6) ~ li:last-child {
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
}

.dotstyle-dotmove li.current:nth-child(7) ~ li:last-child {
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
}

.dotstyle-dotmove li a {
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.dotstyle-dotmove li a:hover,
.dotstyle-dotmove li a:focus {
    background-color: #fff;
}


@layer components {


}
