/*@import './base.css';*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body .rapidload{
    background: #f0f0f1;
    font-family: 'Lexend', sans-serif !important;
}

#wpbody-content > div:not([data-v-app]) {
    display: none;
}

@layer base {

}



@layer components {

    .head-shake {
        animation: rotate-face 2s infinite;
        transform-origin: 80% 30%;
    }

    @keyframes rotate-face {
        0% { transform: rotate(0deg); }
        50% { transform: rotate(-2deg); }
        100% { transform: rotate(0deg); }
    }
    .error-icon {
        animation: move-right 2s ease-in-out infinite;
    }

    @keyframes move-right {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(20px);
        }
        100% {
            transform: translateX(0);
        }
    }
    .hifi {
        animation: rotate-face 2s infinite;
        transform-origin: 50% 50%;
    }

    @keyframes rotate-face {
        0% { transform: rotate(0deg); }
        50% { transform: rotate(-2deg); }
        100% { transform: rotate(0deg); }
    }
    .hifi {
        animation: rotate-face 2s infinite;
        transform-origin: 50% 50%;
    }
    .hifi-girl {
        animation: rotate-face 2s infinite;
        transform-origin: 30% 40%;
    }
    @keyframes rotate-face {
        0% { transform: rotate(0deg); }
        50% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
    }
    .clock-hand {
        transform-origin: 50% 100%;
        animation: rotate-clockwise 2s ease-in-out infinite;
    }

    @keyframes rotate-clockwise {
        0% { transform: rotate(0deg); }
        50% { transform: rotate(5deg); }
        100% { transform: rotate(0deg); }
    }

    .disableBlock{
        pointer-events: none;
        cursor: default;
        opacity: 30%;
        transition: visibility 0s, opacity 0.5s linear;
        /*background-color: #F0F0F1 !important;*/
    }
    .rl-Show{
        visibility: visible;
        opacity: 1;
        transition: all 0.1s ease-in;
    }

    .rl-Hide{
        visibility: hidden;
        opacity: 0;
        transition: all 0.1s ease-out;
    }
    .dotstyle ul {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
    }

    .dotstyle li {
        position: relative;
        display: block;
        float: left;
        margin: 0 6px;
        width: 12px;
        height: 12px;
        cursor: pointer;
    }
    .dotstyle-bg{
        background-color: #D9D9D9 !important;
    }
    .dotstyle li a {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 50%;
        /*background-color: #fff;*/
        /*background-color: rgba(255,255,255,0.3);*/
        text-indent: -999em;
        cursor: pointer; /* make the text accessible to screen readers */
        position: absolute;
    }

    /* Dot move */

    .dotstyle-dotmove li:last-child {
        position: absolute;
        left: 0;
        margin: 0;
        width: 24px;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
    }

    .dotstyle-dotmove li:last-child::after {
        content: '';
        position: absolute;
        left: 50%;
        /*top: -1px;*/
        width: 21px;
        height: 12px;
        border-radius: 18px;
        background: #332247;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .dotstyle-dotmove li.current:first-child ~ li:last-child {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    .dotstyle-dotmove li.current:nth-child(2) ~ li:last-child {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .dotstyle-dotmove li.current:nth-child(3) ~ li:last-child {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }

    .dotstyle-dotmove li.current:nth-child(4) ~ li:last-child {
        -webkit-transform: translateX(300%);
        transform: translateX(300%);
    }

    .dotstyle-dotmove li.current:nth-child(5) ~ li:last-child {
        -webkit-transform: translateX(400%);
        transform: translateX(400%);
    }

    .dotstyle-dotmove li.current:nth-child(6) ~ li:last-child {
        -webkit-transform: translateX(500%);
        transform: translateX(500%);
    }

    .dotstyle-dotmove li.current:nth-child(7) ~ li:last-child {
        -webkit-transform: translateX(500%);
        transform: translateX(500%);
    }

    .dotstyle-dotmove li a {
        -webkit-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
    }

    .dotstyle-dotmove li a:hover,
    .dotstyle-dotmove li a:focus {
        background-color: #fff;
    }


    progress-indicator {
        display: flex;
        flex-direction: row;
        margin: 100px 0; /* Dont include in post */
        padding: 0;
        list-style: none;
    }

    .progress-step {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex: auto;
        position: relative;
    }

    .progress-step .step-number {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid transparent;
        background: transparent;
        border-radius: 50%;
        padding: 20px;
        height: 80px;
        width: 80px;
        font-size: 24px;
        z-index: 1;
        color: var(--purple);
        /* The transition-delay is set ONLY for the transform value, not the others (the additional 0.5s on transform) */
        transition: transform 0.5s ease 0.5s, background 0.5s ease,
        border-color 0.5s ease;
    }

    .progress-step.incomplete .step-number {
        background: #eeeeee;
        border-color: var(--gray);
        color: var(--black);
    }

    .progress-step.active .step-number {
        background: var(--white);
        border-color: var(--purple);
        color: var(--purple);
        transform: scale(1.2);
    }

    .progress-step.complete .step-number {
        background: var(--purple);
        color: var(--white);
    }

    .progress-step h3 {
        margin: 20px 0 0;
        color: var(--gray);
    }

    .progress-step.active h3 {
        color: var(--purple);
    }

    .progress-step.complete h3 {
        color: var(--black);
    }

    .progress-step:not(:last-child):before,
    .progress-step:not(:last-child):after {
        content: "";
        position: absolute;
        height: 4px;
        left: 50%;
        top: 35px;
    }

    .progress-step:before {
        width: 100%;
        background: var(--gray);
    }

    .progress-step.complete:after {
        background: var(--purple);
        animation: progressWidth 0.5s ease forwards; /* forwards is key here to leave it at 100%. Otherwise it resets back to 0% */
    }

    .progress-step.incomplete:after {
        background: var(--purple);
        animation: progressWidthReverse 0.5s ease forwards;
    }

    @keyframes progressWidth {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes progressWidthReverse {
        0% {
            width: 100%;
        }
        100% {
            width: 0%;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
    }

    .progress-button {
        background: none;
        cursor: pointer;
        border: 1px solid var(--purple);
        font-size: 18px;
        padding: 18px;
        color: var(--purple);
        font-weight: 700;
        margin: 0 10px;
        min-width: 200px;
        border-radius: 8px;
    }


}
.enter-from{
    animation: moveToLeft 0.3s ease-in;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(60px);
        opacity:0;
        transition: all 0.3s ease-out;
    }
    100% {
        transform: translateX(0px);
        opacity:1;
    }
}

/*top arrow*/

.arrow-top:before{
    position: absolute;
    top: -8px;
    left: 20%;
    margin-left: 0px;
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF2F2;
    transform: rotate(0deg);
}

.arrow-top-right:before{
    margin-left: 100px !important;
}

.arrow-top-copied:before{
    border-bottom: 10px solid #F2EEF7 !important;
}
.rapidload .dashboard-p p{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.rapidload p{
    margin-top: 0;
    margin-bottom: 0;
}