#wp-admin-bar-rapidload_psa div{
    cursor: pointer !important;
}

.rapidload-optimizer-model .featherlight-content{
    width: 100%;
    margin: 0;
    height: 100%;
    border-radius: 0;
    max-height: 100%;
}