.uucss-notice-action.notice-action{
    margin: 5px 0 15px;
    padding: 15px 20px;
    border-left-color: #7f54b3;
}

.uucss-notice-action.notice-action .notice-action-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uucss-notice-action.notice-action .notice-action-inner a.button.button-primary{
    background-color: #7f54b3;
    border-color: #7f54b3;
}

.uucss-notice-action.notice-action .notice-action-inner a.button.button-primary:focus{
    outline: none;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon{
    font-size: 20px;
}

.uucss-notice-action.notice-action .notice-action-inner h2.uucss-notice-title{
    padding: 2px 0;
    margin: 0 0 0 3px !important;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content{
    padding: 0 10px;
    flex-grow: 4;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content p{
    margin: 0 0 5px 0;
}

span.uucss-tab-title{
    display: flex;
}

span.uucss-tab-title img{
    margin-right: 5px;
}

/* On Boarding Page Style */

div.uucss-on-board{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    z-index: 99999;
    width: 100%;
    height: 100vh;
}

.uucss-on-board-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.uucss-on-board-popup.show{
    display: flex;
}

.uucss-popup-model {
    max-width: 500px;
    width: 100%;
}

.uucss-popup-model iframe{
    border-radius: 5px;
}

.uucss-on-board .plugin-steps {
    display: block;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}
.uucss-on-board .step-text li {
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.uucss-on-board .step-text ul {
    padding: 0;
    margin: 5px 0;
}
.uucss-on-board .progress-bar-wrap {
    width: 100%;
    background-color: #69459978;
    border-radius: 3px;
    margin: 0 auto;
}
.uucss-on-board #progress-bar {
    width: 1%;
    height: 6px;
    background-color: #7f54b3;
    transition: width .5s ease;
    border-radius: 3px;
}
.uucss-on-board .card {
    max-width: 230px;
    margin: 15px auto 25px;
    padding: 20px 15px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    display: flex;
    border: none;
}
.uucss-on-board .steps-wrap {
    max-width: 230px;
    margin: 5px auto;
}
.uucss-on-board .actions {
    text-align: center;
    position: relative;
}
.uucss-on-board .actions.done a{
    pointer-events: none;
}
.uucss-on-board .actions h2 {
    font-size: 16px;
    color: #585858;
    font-weight: 400;
    margin: 0 0 10px;
    min-height: 36px;
}

.uucss-on-board .actions p {
    font-size: 12px;
    line-height: 1.2;
    color: #585858;
    padding: 0 10px;
    margin: 0 0 20px;
    min-height: 70px;
    height: 100%;
}
.uucss-on-board .act-button {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    background-color: #7F54B3;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    border: none;
    padding: 10px 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    width: 135px;
    text-decoration: none;
    display: inline-block;
}

.uucss-on-board .act-button span.dashicons{
    display: none;
}

.uucss-on-board .actions.done .act-button span.dashicons{
    display: inline-block;
}

.uucss-on-board .act-button:hover {
    background-color: hsl(267 38% 52% / 0.9);
    color: #fff;
}
.uucss-on-board .act-button:focus {
    outline: none;
}
.uucss-on-board .skip-wrap {
    text-align: center;
}

.uucss-on-board .skip-wrap a {
    color: #b0b0b0;
    font-size: 14px;
}
.uucss-on-board .slide-contents-wrap{
    max-width: 255px;
    width: 100%;
    float: none;
    overflow: hidden;
    position: relative;
}

.uucss-on-board .slide-contents {
    width: 2000%;
}

.uucss-on-board .slide-content {
    max-width: 223px;
    width: 100%;
    float: left;
    padding-bottom: 50px;
}

.uucss-on-board .slide-content .action-wrap {
    position: absolute;
    left: 33.5px;
}

.uucss-on-board .logo-section {
    width: 150px;
    margin: 30px auto 0;
}

.uucss-on-board .logo-section img {
    width: 100%;
}

.uucss-on-board span.previous, .uucss-on-board span.next  {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    border-radius: 50%;
    bottom: 10px;
    color: #b1a0c8;
    font-size: 10px;
    line-height: 20px;
    cursor: pointer;
}
.uucss-on-board span.previous {
    left: -30px;
}

.uucss-on-board span.next {
    right: -30px;
}

.uucss-on-board.complete .steps-wrap {
    opacity: 0;
}

.plugins-php [data-slug="autoptimize-unusedcss-power-up"] a span {
    display: inline-block;
}


.uucss-on-board .card-complete{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Helvetica Neueâ€, Helvetica, Arial, sans-serif;
}

.uucss-on-board .card-complete .content {
    max-width: 350px;
    background-color: white;
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    text-align: center;
}

.uucss-on-board .card-complete .content img{
    margin: 0 auto;
    width: 300px;
}

.uucss-on-board .card-complete .content > p{
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
    font-style: italic;
}

.uucss-on-board .card-complete .content .action-wrap{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.uucss-on-board .card-complete .content .action-wrap a{
    width: 100px !important;
}

.uucss-on-board .card-complete .content .action-wrap a.uucss-support{
    width: 120px !important;
}

.uucss-on-board .card-complete .content .title{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    line-height: 42px;
}

.uucss-on-board .card-complete .content .title.error{
    color: #f44336;
}

.uucss-on-board .card-complete .content .title.error,
.uucss-on-board .card-complete .content .action-wrap a.uucss-support,
.uucss-on-board .card-complete .content p.error{
    display: none;
}

.uucss-on-board .card-complete.has-error .content .title.error,
.uucss-on-board .card-complete.has-error .content p.error{
    display: block;
}

.uucss-on-board .card-complete.has-error .content .action-wrap a.uucss-support{
    display: inline-block;
}

.uucss-on-board .card-complete.has-error .content .title.success,
.uucss-on-board .card-complete.has-error .content .action-wrap a.uucss-settings,
.uucss-on-board .card-complete.has-error .content p.success{
    display: none;
}

.uucss-on-board .card-complete .content .first-result{
    display: flex;
    align-items: center;
    max-width: 265px;
    margin: 0 auto;
    text-align: left;
}

.uucss-on-board .card-complete .content .first-result .details{
    flex: 2;
}

.uucss-on-board .card-complete .content .first-result .details p{
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

#cpb {
    width: 100px;
    position: relative;
    text-align: center;
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 10px;
}

#cpb strong {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.uucss-on-board.complete .plugin-steps{
    display: none;
}

.uucss-on-board .card-complete{
    display: none;
    opacity: 0;
    animation-name: fadeIn;
    transition-timing-function: cubic-bezier(0.55, 0.59, 0, 0.92);
    animation-duration: 0.5s;
}

.uucss-on-board.complete .card-complete{
    display: flex;
    opacity: 1;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.95);}
    100% { opacity: 1; transform: scale(1.0);}
}

@keyframes imageFadeIn {
    0%{
        transform: translateY(20px) translateX(20px) scale(0.0);
        opacity: 0;
    }
    100%{
        transform: translateY(0) translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes sadImageFadeIn {
    0%{
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.uucss-on-board.complete .card-complete .error-result{
    display: none;
    align-items: center;
    max-width: 265px;
    margin: 0 auto;
    justify-content: center;
    background-color: lightgray;
    padding: 10px 15px;
}

.uucss-on-board.complete .card-complete .error-result p{
    margin: 0;
    line-height: 20px;
}

.uucss-on-board.complete .card-complete .content img.sad{
    display: none;
}

.uucss-on-board.complete .card-complete.has-error .content img.sad{
    display: block;
}

.uucss-on-board.complete .card-complete.has-error .content img.success{
    display: none;
}

.uucss-on-board.complete .card-complete .content img.sad{
    display: none;
}

.uucss-on-board.complete .card-complete .error-result p.error-code{
    font-size: 20px;
}

.uucss-on-board.complete .card-complete .error-result p.error-description{
    font-size: 18px;
}

.uucss-on-board.complete .card-complete.has-error .error-result{
    display: block;
}

.uucss-on-board.complete .card-complete.has-error .first-result{
    display: none;
}

/**
    Safelist
 */

.safelist-list ul {
    margin-top: 1em;
}

.safelist-list span.dashicons.dashicons-remove {
    vertical-align: middle;
    line-height: 1.25;
    color: #F44336;
    cursor: pointer;
}

.safelist-list .safelist-list-type {
    background: #674499;
    padding: 4px 8px;
    color: white;
    border-radius: 3px;
    margin-right: 2px;
    font-size: 12px;
}