/*

dark
#674399

light
#7f54b3

*/
#uucss-wrapper *:not(.dashicons) {
    font-family: Roboto, Helvetica Neue”, Helvetica, Arial, sans-serif;
}

#ao_settings_form .form-table th {
    font-weight: normal;
}

#autoptimize_imgopt_descr {
    font-size: 120%;
}

.uucss-tag .newtag,
.uucss-tag-links .newtag {
    width: 100%;
    max-width: 310px;
}

.uucss-tag-links .tagchecklist > li {
    width: 100%;
}

.uucss-tag input[type="text"].ui-autocomplete-loading {
    background: none;
}

#uucss-options em {
    color: #9E9E9E;
}

li.uucss-history .dataTables_wrapper .dataTables_filter{
    display: none;
}

li.uucss-history .dataTables_wrapper .dataTables_info select,
#uucss-logs-table_info select{
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: -4px;
    font-size: 12px;
}

#uucss-logs-table_info select{
    margin-left: 0;
}

li.uucss-history .dataTables_wrapper .dataTables_paginate {
    margin-top: 5px;
    margin-right: 10px;
}

li.uucss-history .dataTables_wrapper .dataTables_info input[type="search"],
#uucss-logs-table_info input[type="search"]{
    margin-right: 0.5em;
}

#uucss-options .example span {
    display: inline-block;
    margin-bottom: 4px;
}

#uucss-options span em {
    background: #F5F5F5;
    color: #3F51B5;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 3px 8px;
}

#uucss-options em#verification_status {
    margin-left: 10px;
}

#uucss-options em#verification_status.success {
    color: green;
}

#uucss-options em#verification_status.failed {
    color: red;
}

#uucss-options ul.select2-selection__rendered {
    max-height: 25px;
    padding: 0 !important;
    margin-top: 5px;
}

#uucss-options li.select2-selection__choice {
    margin: 5px !important;
}

#uucss-options li.select2-search.select2-search--inline {
    margin-left: 5px;
}

#uucss-wrapper > li {
    position: relative;
    display: table;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 1165px;
}

#uucss-wrapper .form-table th {
    font-weight: normal;
}

.uucss-toggle-section {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;
    display: inline-block;
    border-radius: 100%;
    transition: cubic-bezier(0.46, 0.03, 0.52, 0.96) transform .5s;
}

#uucss-wrapper li.uucss-history .multiple-selected-text{
    display: none;
    position: absolute;
    right: 50px;
    top: 14px;
    font-size: 13px;
}

#uucss-wrapper li.uucss-history .multiple-selected-text a{
    font-weight: 400;
    text-decoration: none;
}

#uucss-wrapper li.uucss-history.multi-select .multiple-selected-text{
    display: inline-block;
}

#uucss-wrapper li.uucss-history.multi-select .uucss-add-menu{
    display: none;
}

#uucss-wrapper li.uucss-history.multi-select li.select-all[data-action_name="select_all"]{
    display: none;
}

.uucss-add-menu{
    cursor: pointer;
    position: absolute;
    right: 44px;
    top: 8px;
    display: inline-block;
    width: 52px;
    height: 26px;
    line-height: 27px;
    padding-left: 1px;
    padding-right: 1px;
    background: #8156b2;
    text-transform: uppercase;
    font-size: 11px;
    color: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.uucss-sub-menu{
    position: absolute;
    right: 11px;
    top: 8px;
    border: none;
    background: #455a64;
    color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    cursor: pointer;
    width: 25px;
    height: 26px;
    margin-right: 4px;
}

.uucss-sub-menu .dashicons.dashicons-ellipsis{
    transform: rotate(90deg) translateY(4px);
    line-height: 20px;
    font-size: 14px;
}

.uucss-add-menu .dashicons.dashicons-plus{
    line-height: 28px;
}

span.uucss-toggle-section.rotate {
    transform: rotate(180deg);
}

.uucss-toggle-section .dashicons {
    font-size: 16px;
    line-height: 1.25;
}

.uucss-intro .content {
    display: flex;
    flex-direction: column;
}

#uucss-wrapper li .dashicons{
    font-size: 16px;
}

#uucss-wrapper li .example{
    max-width: 460px;
    width: 100%;
}

#uucss-wrapper li .example .title h2{
    padding-left: 0;
}

#uucss-wrapper li .example .rules-content{
    padding-top: 5px;
}

#uucss-wrapper li .example .rules{
    display: flex;
}

#uucss-wrapper li .example .rules .rule{
    max-width: 225px;
    width: 100%;
}

#uucss-wrapper a.uucss-activate {
    background: #7f54b3;
    padding: 12px 28px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin: 12px 12px 10px;
    transition: ease background .3s;
    max-width: 272px;
    text-align: center;
}

#uucss-wrapper a.uucss-activate:hover {
    background: #674399;
}

#uucss-wrapper a.connect-with-license {
    margin-left: 100px;
    text-decoration: none;
    margin-bottom: 10px;
    width: 150px;
}

#uucss-wrapper a.connect-with-license .tippy-content{
    background-color: white;
    padding: 5px 15px 15px;
    color: black;
    border-radius: 4px;
}

#uucss-wrapper a.connect-with-license .tippy-box{
    max-width: 500px!important;
}

#uucss-wrapper a.connect-with-license .tippy-content .header-text p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

#uucss-wrapper a.connect-with-license .tippy-content .input-wrap input{
    width: 280px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin-right: 5px;
}

#uucss-wrapper a.connect-with-license .tippy-content p.uucss-key-error{
    margin: 5px 5px 0 5px;
    color: #f44336;
}

#uucss-wrapper a.connect-with-license .tippy-content .input-wrap a.connect {
    padding: 5px 25px;
    background-color: #674499;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-weight: bold;
}

#uucss-wrapper a.connect-with-license:focus{
    outline: none;
    box-shadow: none;
}

.uucss-row {
    width: 100%;
    display: flex;
}

.uucss-row.flex-direction-column{
    flex-direction: column;
}

.uucss-intro img {
    width: 150px;
    padding: 0 25px;
}

#uucss-wrapper h2 {
    cursor: pointer;
    user-select: none;
    line-height: 1;
    padding: 10px 15px;
    border-bottom: 1px solid #cdd0d4;
    font-size: 15px;
    margin: 0;
}

#uucss-wrapper > li.submit {
    background-color: transparent;
    box-shadow: none;
    text-align: right;
    padding: 0;
    max-width: 1165px;
}

#uucss-wrapper > li.submit p.submit {
    text-align: left;
    margin-top: 0;
}

#uucss-wrapper > li.submit p img {
    float: right;
}

#uucss-wrapper li.uucss-history h2{
    padding: 12px 15px;
}

#uucss-wrapper span.valid {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background: #009688;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 3px;
}

span.invalid {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background: #f44336;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 3px;
}

/*UUCSS HISTORY*/

table.dataTable thead td, table.dataTable.no-footer {
    border-color: #c5b1e7;
}

table.dataTable thead th {
    border: none;
    font-size: 10px;
    text-transform: uppercase;
}

.uucss-history-table thead {
    background: #674399;
    color: white;
    border-radius: 10px;
}

li.uucss-history .dataTables_wrapper div.dataTables_info,
#uucss-logs-table_wrapper div#uucss-logs-table_info
{
    font-size: 11px !important;
    margin: 2px 8px;
    padding-bottom: 8px;
}

#uucss-logs-table_wrapper div#uucss-logs-table_info{
    margin-left: 0;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 8px 18px;
}

#uucss-wrapper li.uucss-history{
    padding: 0;
}

#uucss-wrapper li .content {
    padding: 10px 15px;
    background-position: right -15px bottom;
    background-repeat: no-repeat;
    border-radius: 4px;
}

#uucss-wrapper li.uucss-history .content{
    margin-top: 0;
    padding: 0;
}

.uucss-history-table tr td.url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uucss-history-table {
    table-layout: fixed;
}

.uucss-history-table span.status{
    min-width: 40px;
    display: inline-block;
}

.uucss-history-table .success {
    background: #f2edf7;
    color: #7f54b3;
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 4px;
}

.uucss-notification.uucss-info-wrapper{
    padding: 0;
}

.uucss-history-table .queued {
    background: #eaeffa;
    color: #3362cc;
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 4px;
}

.uucss-history-table .waiting {
    background: #fff5d6;
    color: #ffc107;
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 4px;
}

.uucss-history-table .processing {
    background: #ccfffa;
    color: #009688;
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 4px;
}

.uucss-history-table .failed {
    background: #ffd8d5;
    color: #f44337;
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 4px;
}

.uucss-history-table .rule-based {
    background: #ffe9d6;
    color: #FF7500;
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 4px;
}

.uucss-history-table .action button {
    position: relative;
    border: none;
    background: #455a64;
    color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 4px;
}

.uucss-history-table .tippy-content .uucss-option-list, .uucss-sub-menu .tippy-content .uucss-submenu-option-list{
    width: 125px;
    margin-right: -10px;
    margin-left: -10px;
}

.uucss-sub-menu .tippy-content .uucss-submenu-option-list{
    width: 135px;
}

li.uucss-history.multi-select .uucss-sub-menu .tippy-content .uucss-submenu-option-list ul li.simple-menu{
    display: none;
}

li.uucss-history .uucss-sub-menu .tippy-content .uucss-submenu-option-list ul li.multi-select-menu{
    display: none;
}

li.uucss-history.multi-select .uucss-sub-menu .tippy-content .uucss-submenu-option-list ul li.multi-select-menu{
    display: block;
}

.uucss-sub-menu .tippy-content .uucss-submenu-option-list ul li,
.uucss-history-table .tippy-content .uucss-option-list ul li{
    margin: 0;
}

.uucss-sub-menu .tippy-content .uucss-submenu-option-list ul li:hover,
.uucss-history-table .tippy-content .uucss-option-list ul li:hover{
    background-color: #ededed;
}

.uucss-sub-menu .tippy-content .uucss-submenu-option-list ul li a,
.uucss-history-table .tippy-content .uucss-option-list ul li a{
    font-size: 12px;
    padding: 5px 10px;
    text-decoration: none;
    color: #455964;
    display: block;
}

.uucss-sub-menu .tippy-content .uucss-submenu-option-list ul li a{
    font-weight: normal;
}

.uucss-sub-menu .tippy-content .uucss-submenu-option-list ul li:last-child,
.uucss-history-table .tippy-content .uucss-option-list ul li:last-child{
    margin-bottom: 0;
}

.uucss-history-table .action button[data-uucss-optimize] {
    background: #8055b2;
}

.uucss-history-table .action button span.dashicons {
    position: absolute;
    left: 2px;
    top: 4px;
}

.uucss-history-table .action button span.dashicons.dashicons-ellipsis{
    transform: rotate(90deg) translateX(-1px);
    line-height: 20px;
    font-size: 14px;
}

.uucss-history-table tr.loading {
    opacity: .5;
    background: #f2f2f2 !important;
}

.uucss-history-table .stats {
    vertical-align: middle;
    line-height: 2;
    cursor: pointer;
}

.uucss-history-table .stat-tooltip {
    min-width: 260px;
}

.uucss-history-table .stat-tooltip p {
    margin: 0;
}

.uucss-history-table .stat-tooltip .progress-bar {
    height: 13px;
    position: relative;
    background: #f34337;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.uucss-history-table .stat-tooltip .progress-bar.w-100 > span {
    width: 100% !important;
}

.uucss-history-table .stat-tooltip .progress-bar > span {
    display: block;
    height: 100%;
    border-radius: 10px;
    background-color: #069583;
    position: relative;
    transition: ease width .3s;
    font-size: 7px;
    color: white;
    padding-right: 5px;
    line-height: 12px;
}

.stat-tooltip .progress-bar-wrapper {
    text-align: right;
    margin: 38px 0 42px;
    position: relative;
}

.stat-tooltip .progress-bar-wrapper em {
    font-size: 10px;
    border: 1px solid #b9a8d7;
    padding: 3px 5px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 3px;
    background: #f4f1f9;
    margin-right: 4px;
}

.stat-tooltip .progress-bar em {
    position: absolute;
    right: -5px;
    top: 12px;
}

.tippy-box[data-theme~='tomato'] {
    background-color: #fde4e2;
    color: #f24237;
    font-size: 10px;
}

.tippy-box[data-theme~='tomato'] .perc {
    background: #f34337;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
}

.tippy-box[data-theme~='tomato'] .tippy-arrow {
    color: #fde4e2;
}

.tippy-box[data-theme~=light] {

}

.tippy-box[data-theme~=light] > .tippy-content {
    padding: 5px 10px;
    text-align: left;
}


.tippy-box[data-theme~='ketchup'] {
    background-color: #d4f7f3;
    color: #009687;
    font-size: 10px;
}

.tippy-box[data-theme~='ketchup'] .tippy-arrow {
    color: #d5f7f3;
    transform: translate3d(15px, 0px, 0px) !important;
}

.tippy-box[data-theme~='ketchup'] .perc {
    background: #009687;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: -2px;
}

table.uucss-history-table{
    max-width: 1165px;
}

.uucss-history-table td span span.dashicons {
    color: #009688;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 1px;
}

.uucss-history-table td span span.dashicons.hits-success{
    color: #017065;
}

.uucss-history-table td span span.dashicons.dashicons-warning{
    color: #FFC107;
}

.uucss-history-table td span span.dashicons.error {
    color: #f44337;
}

.uucss-history-table .tippy-content .error-tooltip span {
    font-size: 11px;
    line-height: 1.4 !important;
    display: inline-block;
}

.uucss-history-table .tippy-content .error-tooltip {
    /*margin: 5px 0;*/
    max-width: 230px;
}

.uucss-history-table .tippy-content .error-tooltip h5 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.uucss-history-table .action .tippy-box {
    font-size: 9px;
}

.uucss-notice h4 {
    margin-bottom: .5em;
}

.uucss-notice {
    padding-bottom: .5em !important;
}

.uucss-notice.notice-success .dashicons,
.uucss-notice.notice-success strong,
#uucss-wrapper .left-section strong {
    color: #332e3a;
}

/**
    license info
 */

#uucss-wrapper .license-info {
    padding: 10px;
}

#uucss-wrapper .license-info.loading ul {
    visibility: hidden;
    display: block !important;
    min-height: 90px;
}

#uucss-wrapper .license-info ul {
    margin-bottom: 12px;
}

#uucss-wrapper .license-info a.uucss-activate {
    display: inline-block;
    padding: 10px 16px;
    margin: 0;
    font-size: 11px;
    border-radius: 3px;
    line-height: 1;
}

#uucss-wrapper .license-info span#license-message {
    margin-bottom: 5px;
    margin-left: 1px;
    display: inline-block;
}

#uucss-wrapper .license-info.loading .spinner {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: calc(50% - 20px);
    left: 85px;
}

.featherlight.uucss-log .featherlight-content .spinner.loading + div.uucss-logs-content input{
    display: none;
}

.uucss-support a {
    padding: 14px 20px 12px 13px;
    position: fixed;
    right: 2.7em;
    bottom: 2.5em;
    background: #674499;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    transition: ease background .3s;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}

.uucss-support a:hover {
    background: #8055b2;
}

.uucss-support a .dashicons {
    margin-right: 8px;
    font-size: 1.8em;
    line-height: 0.7;
}

.uucss-support .tippy-content {
    background: white;
    color: black;
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#uucss-support-tooltip h3 {
    display: inline-block;
    padding: 5px;
    border-radius: 100px;
    font-size: 16px;
    margin: 5px 0;
    color: #484350;
}

#uucss-support-tooltip {
    font-size: 12px;
    margin: 0 10px 10px 10px;
    display: inline-block;
}

#uucss-support-tooltip h3 {
    display: inline-block;
    padding: 5px;
    border-radius: 100px;
    font-size: 16px;
    margin: 5px 0;
    color: #484350;
}

#uucss-support-tooltip {
    font-size: 12px;
    margin: 0 10px 10px 10px;
    display: inline-block;
}

.tippy-box[data-animation=shift-toward][data-state=hidden] {
    opacity: 0
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=top] {
    transform: translateY(-10px)
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=bottom] {
    transform: translateY(10px)
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=left] {
    transform: translateX(-10px)
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=right] {
    transform: translateX(10px)
}

/**
   Safelist pack styles
 */

#uucss-options span.select2.select2-container.select2-container--default {
    max-width: 470px;
    height: auto;
    margin-right: 5px;
    display: block;
}

.form-table input#uucss-pack-suggest {
    vertical-align: middle;
}

#uucss-options ul.select2-selection__rendered {
    padding: 1px 3px !important;
    max-height: fit-content;
    margin-top: 0px;
    display: block;
}

input#uucss-pack-suggest {
    margin-top: 10px;
    display: block !important;
}

#uucss-options .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 4px;
}

#uucss-options .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #aaa 1px;
    outline: 0;
}

#uucss-options .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #674499;
    border: 1px solid #674499;
    color: #fff;
}

#uucss-options li.select2-selection__choice {
    margin: 5px 3px 1px 3px !important;
    font-size: 12px;
    padding: 4px 8px 4px 6px;
}

#uucss-options li.select2-search.select2-search--inline {
    margin-left: 5px;
    margin-bottom: 0;
}

#uucss-options .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 4px;
}
.uucss-warnings{
    text-align: left;
    display: block;
    border-top: 1px solid #ededed;
    padding: 5px 10px 0;
    margin-right: -10px;
    margin-left: -10px;
}

.uucss-warnings .warning-list{
    word-break: break-all;
    border-top: 1px solid #ededed;
    padding: 5px 10px 0;
    margin-right: -10px;
    margin-left: -10px;
    overflow-y: scroll;
    max-height: 110px;
}

.uucss-warnings .warning-list.scrollable{
    height: 130px;
    overflow-y: scroll;
}

.uucss-warnings .warnings-title{
    margin: 0 0 5px;
    font-size: 13px;
    font-weight: 700;
}

.uucss-warnings .warning{
    font-size: 1em !important;
    border-bottom: 1px solid #ededed;
    padding-bottom: 5px;
}

.uucss-warnings .warning-list li:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

.uucss-warnings .warning .warning-header{
    font-weight: 700;
    font-size: 12px;
}

.uucss-warnings .warning .warning-content a{
    font-size: 11px;
}

.tippy-content .stat-tooltip .time .val,
.tippy-content .stat-tooltip .time .attempts{
    font-size: 11px;
    display: inline;
}

.tippy-content .stat-tooltip .time .attempts{
    float: right;
    line-height: 20px;
}

.tippy-content .uucss-tippy-actions{
    margin-right: -10px;
    margin-left: -10px;
    padding: 5px 10px;
}

.tippy-content .uucss-tippy-actions button{
    line-height: 20px;
    min-height: 20px;
    color: #fff;
    border: none;
    background-color: #8055b2;
    width: 60px;
}

.tippy-content .uucss-tippy-actions button:hover{
    color: #fff;
    background-color: #9672c0;
}

.tippy-content .stat-tooltip .time{
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#uucss-wrapper div.uucss-auto-refresh,
#uucss-logs-table_wrapper div#uucss-auto-refresh-logs {
    display: inline-block;
    margin-left: 10px;
}

#uucss-wrapper select#requeue_post_type {
    width: 160px;
}

#uucss-wrapper select#uucss_queue_interval {
    margin-left: 5px;
}

#uucss-wrapper select#uucss_jobs_per_queue {
    margin-top: -3px;
    margin-right: 5px;
}

.uucss-history .spinner-history {
    position: absolute;
    top: 7px;
    left: 135px;
    transition: ease opacity .15s;
    opacity: 0;
    visibility: visible;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}

.uucss-history.uucss-rule-history .spinner-history {
    left: 48px;
}

.uucss-history .spinner-history.loading {
    opacity: 1;
}

li.uucss-history .dataTables_wrapper .dataTables_info .uucss_search_exact,
#uucss-logs-table_info .uucss_log_search_exact{
    position: absolute;
    right: 10px;
    bottom: 8px;
    opacity: 0;
}

li.uucss-history .dataTables_wrapper .dataTables_info input[type="search"]:focus + input.uucss_search_exact,
#uucss-logs-table_info input[type="search"]:focus + input.uucss_log_search_exact,
li.uucss-history .dataTables_wrapper .dataTables_info input[type="search"]:hover + input.uucss_search_exact,
#uucss-logs-table_info input[type="search"]:hover + input.uucss_log_search_exact,
li.uucss-history .dataTables_wrapper .dataTables_info .uucss-url-search-wrap:hover,
#uucss-logs-table_info .uucss-log-search-wrap:hover,
li.uucss-history .dataTables_wrapper .dataTables_info .uucss_search_exact:hover,
#uucss-logs-table_info .uucss_log_search_exact:hover,
.uucss_search_exact:hover,
.uucss_log_search_exact:hover{
    opacity: 1;
}

li.uucss-history .dataTables_wrapper .dataTables_info .uucss-url-search-wrap,
#uucss-logs-table_info .uucss-log-search-wrap{
    display: inline-block;
    position: relative;
}

.featherlight .spinner.loading.featherlight-inner {
    opacity: 1;
    visibility: visible;
    float: unset;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    margin: 0 auto;
}

.featherlight .featherlight-content{
    margin: 0 auto;
    padding: 10px 15px 10px;
    border-radius: 5px;
    border: 0;
    width: 75%;
    height: 75%;
    overflow: hidden;
}

.featherlight.uucss-gpsi-test .featherlight-content{
    width: 325px;
    min-height: 115px;
    height: auto;
}

.featherlight.uucss-log .featherlight-content{
    width: 90%;
    height: 475px;
    padding-bottom: 10px;
}

.featherlight.uucss-gpsi-test .featherlight-content .header h2{
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 0 0 5px;
    font-weight: 700;
}

.featherlight.uucss-gpsi-test .featherlight-content .header h2 .dashicons{
    color: #009688;
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
}

.featherlight.uucss-gpsi-test .featherlight-content .header h2 .dashicons.dashicons-yes-alt{
    color: #009688;
}

.featherlight.uucss-gpsi-test .featherlight-content .header h2 .dashicons.dashicons-warning{
    color: #FFC107;
}

.featherlight.uucss-gpsi-test .featherlight-content .header h2 .dashicons.dashicons-no{
    color: #ff6666;
}

.featherlight.uucss-gpsi-test .featherlight-content .description p{
    margin: 10px 0 10px;
    text-align: left;
}

.featherlight.uucss-gpsi-test .featherlight-content .test-site-links-heading{
    margin: 0;
}

.featherlight.uucss-gpsi-test .featherlight-content .test-site-links-heading strong {
    background: #ffc107;
    padding: 2px 5px;
    color: white;
}

.featherlight.uucss-gpsi-test .featherlight-content .test-site-links-heading.without-rapidload strong {
    background: #ffc107;
}

.featherlight.uucss-gpsi-test .featherlight-content .test-site-links-heading.with-rapidload strong {
    background: #7f54b3;
}

.featherlight.uucss-gpsi-test .featherlight-content ul.test-site-links{
    margin: 0;
}

.featherlight.uucss-gpsi-test .featherlight-content ul.test-site-links li.test-site-link:first-child {
    margin-right: 20px;
}

.featherlight.uucss-gpsi-test .featherlight-content ul.test-site-links li.test-site-link {
    display: inline-block;
}

.featherlight.uucss-gpsi-test .featherlight-content .devider{
    display: block;
    height: 1px;
    background-color: #e3e3e3;
    margin-right: -15px;
    margin-left: -15px;
}

.featherlight.uucss-gpsi-test .featherlight-close-icon {
    line-height: 35px;
    width: 35px;
}


.uucss-url-search-wrap .tippy-content,
.uucss-log-search-wrap .tippy-content{
    font-size: 12px;
}

#uucss-options label[for="debug-log"]{
    line-height: 30px;
}

#uucss-logs-table_wrapper .dataTables_filter {
    float: unset;
    text-align: left;
    padding: 0 10px;
}

#uucss-logs-table_info{
    padding-bottom: 0.755em;
}

#uucss-logs-table_info select.uucss-log-type{
    margin-right: 10px;
}

#uucss-logs-table_filter{
    display: none;
}

#whitelist_packs + span.select2{
    max-width: 388px !important;
}

#uucss-logs-table .log-content p, .log-content ul {
    margin: 0;
}

.uucss-update-form-fetherlight .action-content .add-action-wrap input{
    background: #674399;
    font-size: 13px;
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    outline: none;
    border: none;
}

.uucss-update-form-fetherlight .action-content input, .uucss-update-form-fetherlight .action-content select{
    width: 100%;
}

.uucss-update-form-fetherlight .action-content div{
    margin-top: 10px;
}

.uucss-update-form-fetherlight .action-content input.site-map-url {
    display: none;
}

.uucss-update-form-fetherlight .action-content input.site-map-url.show{
    display: inline-block;
}

#add_rule_featherlight_content,
.uucss-update-form-fetherlight{
    display: none;
}

.featherlight .featherlight-content .uucss-update-form-fetherlight,
.featherlight .featherlight-content #add_rule_featherlight_content{
    display: block;
}

.featherlight.add-site-url-model .featherlight-content{
    width: 310px;
    height: 120px;
    padding: 20px 20px;
}

.featherlight.attach-rule-content-model .featherlight-content{
    width: 350px;
    height: 155px;
    padding: 20px 20px;
}

.featherlight.attach-rule-content-model .featherlight-content p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featherlight.add-site-rule-model .featherlight-content div.action-content div{
    display: flex;
    align-items: center;
}

.featherlight.add-site-rule-model .featherlight-content div.action-content div label{
    width: 75px;
}

.featherlight.add-site-rule-model .featherlight-content{
    height: 205px;
    width: 400px;
    padding: 20px 20px;
}

.featherlight.add-site-url-model.show-url .featherlight-content{
    height: 160px;
}

.toasted.uucss-notification.material{
    font-weight: 600;
    min-width: 300px;
}

.toasted.uucss-notification.material.success{
    background-color: #ccffcc;
    color: #006600;
}

.toasted.uucss-notification.material.info{
    background-color: #f1edf7;
    color: #674399;
}

.toasted.uucss-notification.material.error{
    background-color: #ffe5e5;
    color: #990000;
}

li.rapidload-status .content p {
    margin: 0;
}

li.rapidload-status .content .status-action-wrap{
    margin-top: 10px;
}

.noty_layout .noty_bar{
    border-radius: 5px;
    background-color: #455a64!important;
    color: #ffffff!important;
    border-bottom: 1px solid #455a64 !important;
}

#noty_layout__bottomCenter{
    z-index: 2147483649;
    width: auto;
    text-align: center;
}

#uucss-wrapper .uucss-notification.uucss-notification-faq .content .info-details{
    padding-left: 0;
}

#uucss-wrapper .uucss-notification.uucss-notification-faq .dashicons.nav-faq{
    position: absolute;
    cursor: pointer;
    top: 8px;
    font-size: 1.3em;
}

#uucss-wrapper .uucss-notification.uucss-notification-faq .dashicons.next-faq{
    right: 3px;
}

#uucss-wrapper .uucss-notification.uucss-notification-faq .dashicons.prev-faq{
    right: 20px;
}

#uucss-wrapper .uucss-notification.uucss-notification-faq h3{
    margin: 0 0 6px 0;
    color: #444;
    font-size: 1.2em;
}

#uucss-wrapper .uucss-notification.uucss-notification-faq{
    border-left: solid 3px #674399;
}

#uucss-wrapper #uucss-faq-read{
    margin-left: 5px;
    font-weight: 400;
    text-decoration: none;
    font-size: 12px;
}

.featherlight.uucss-job-details .featherlight-content,
.featherlight.uucss-gpsi-result-details .featherlight-content{
    padding: 30px 15px 15px;
}

.featherlight.uucss-job-details .featherlight-inner,
.featherlight.uucss-gpsi-result-details .featherlight-inner{
    height: 100%;
}

.featherlight.uucss-job-details .featherlight-inner .code,
.featherlight.uucss-gpsi-result-details .featherlight-inner .code{
    height: 100%;
    overflow-y: scroll;
}

.featherlight.uucss-job-details .featherlight-inner .code code,
.featherlight.uucss-gpsi-result-details .featherlight-inner .code code{
    background-color: #fff;
}

li.uucss-history .dataTables_wrapper .dataTables_info .dataTables_length{
    float: unset;
    display: inline-block;
    margin-right: 10px;
}

.uucss-history-table tbody tr.selected{
    background-color: #f7f7f7!important;
}

table#uucss-options tbody tr td{
    padding-bottom: 0;
}

#uucss-wrapper .notice-close{
    position: absolute;
    right: 3px;
    top: 4px;
    cursor: pointer;
}

.uucss-history-table span.job-status.status + div div.tippy-content{
    font-size: 11px;
}