.uucss-notice-action.notice-action.notice {
    margin: 5px 0 15px;
    padding: 15px 20px;
    border-left-color: #7f54b3;
}

.uucss-notice-action.notice-action.notice.notice-info {
    border-left-color: #007cba;
}

.uucss-notice-action.notice-action .notice-action-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uucss-notice-action.notice-action .notice-action-inner a.button.button-primary{
    background-color: #7f54b3;
    border-color: #7f54b3;
}

.uucss-notice-action.notice-action .notice-action-inner a.button.button-primary:focus{
    outline: none;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon{
    font-size: 20px;
}

.uucss-notice-action.notice-action .notice-action-inner h2.uucss-notice-title{
    padding: 2px 0;
    margin: 0 0 0 3px !important;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content{
    padding: 0 10px;
    flex-grow: 4;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content p{
    margin: 0 0 5px 0;
}

span.uucss-tab-title{
    display: flex;
}

span.uucss-tab-title img{
    margin-right: 5px;
}

/* On Boarding Page Style */

div.rapidload-on-board{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.rapidload-on-board-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.rapidload-on-board-popup.show{
    display: flex;
}

.uucss-popup-model {
    max-width: 500px;
    width: 100%;
}

.uucss-popup-model iframe{
    border-radius: 5px;
}

.rapidload-on-board .plugin-steps {
    display: block;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}
.rapidload-on-board .step-text li {
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.rapidload-on-board .step-text ul {
    padding: 0;
    margin: 5px 0;
}
.rapidload-on-board .progress-bar-wrap {
    width: 100%;
    background-color: #69459978;
    border-radius: 3px;
    margin: 0 auto;
}
.rapidload-on-board #progress-bar {
    width: 1%;
    height: 6px;
    background-color: #7f54b3;
    transition: width .5s ease;
    border-radius: 3px;
}
.rapidload-on-board .card.analyze{
    position: absolute;
    left: -15px;
    top: -20px;
    height: 85%;
    margin-top: 0 !important;
    opacity: 0;
    /*transition-duration: 0.5s;*/
    transition-property: all;
    z-index: -1;
    box-shadow: none;
}
.rapidload-on-board .card.analyze.show{
    opacity: 1;
    z-index: 100;
}
.rapidload-on-board .card.analyze .analyze-form,
.rapidload-on-board .card.analyze .analyze-result{
    width: 100%;
}
.rapidload-on-board .card.analyze .analyze-form.hidden{
    display: none;
}
.rapidload-on-board .connect.actions .action-wrap{
    bottom: 7px;
}
.action-content-header {
    padding-bottom: 10px;
}
.step-2-hd {
    margin-bottom: 0;
    margin-top: 15px;
}
.step-1-hd {
    margin-bottom: 20px;
    margin-top: 10px;
}
.rapidload-on-board .connect.actions .analyze-result .reduction{
    font-weight: bold;
    font-size: 50px;
    color: #674399;
    line-height: 1.15em;
}
.reduction-text {
    display: block;
    color: #000;
    font-size: 12px;
    text-align: center;
}
.rapidload-on-board .connect.actions .analyze-result .stats .content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.rapidload-on-board .stats.stats-figures .content {
    margin-top: 25px;
}

.rapidload-on-board .connect.actions .analyze-result .stats .content img {
    position: absolute;
    width: 20px;
    top: 30px;
    left: 100px;
}
.rapidload-on-board .connect.actions .analyze-result .stats .content span.title {
    font-size: 11px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}

.rapidload-on-board .connect.actions .analyze-result .stats .content span.value {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.rapidload-on-board .connect.actions .analyze-result .stats .content .details {
    max-width: 84px;
    padding: 4px 8px;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin: 5px 0;
    text-align: center;
}

.rapidload-on-board .connect.actions .analyze-result .stats .content span.value span {
    font-size: 14px;
}
.rapidload-on-board .connect.actions .analyze-result .stats.stats-figures{
    margin-bottom: 5px;
}
.rapidload-on-board .connect.actions .analyze-result .stats .heading{
    margin-top: 15px;
}
.rapidload-on-board .connect.actions .analyze-result .stats .heading h2{
    line-height: 20px;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
    font-size: 14px !important;
    text-transform: none;
    min-height: 20px !important;
    color: #575757;
}
.rapidload-on-board .connect.actions .analyze-result .stats .stat{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.rapidload-on-board .connect.actions .analyze-result .stats .stat.green .value {
    color: #4CAF50;
}
.rapidload-on-board .connect.actions .analyze-result .stats .stat.red .value {
    color: #F44336;
}
.rapidload-on-board .card {
    max-width: 230px;
    margin: 15px auto 25px;
    padding: 20px 15px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    display: flex;
    border: none;
}
.rapidload-on-board .card.analyze .analyze-form.actions p{
    height: auto;
}
.rapidload-on-board .steps-wrap {
    max-width: 230px;
    margin: 5px auto;
}
.rapidload-on-board .actions {
    text-align: center;
    position: relative;
}
.rapidload-on-board .actions.done a{
    pointer-events: none;
    opacity: 0.6;
}
/*.rapidload-on-board .actions h2 {
    font-size: 16px;
    color: #585858;
    font-weight: 400;
    margin: 0 0 10px;
    min-height: 36px;
}*/
h2.card-heading {
    font-size: 18px;
    color: #676767;
    font-weight: 600;
    margin: 0px 0 12px;
}
p.analyze-text {
    margin-bottom: 17px !important;
}
.rapidload-on-board .actions p {
    font-size: 12px;
    line-height: 1.2;
    color: #585858;
    padding: 0 10px;
    margin: 0 0 20px;
    /*min-height: 70px;*/
    height: 100%;
}
.rapidload-on-board .actions .action-content{
    min-height: 270px;
}
.rapidload-on-board .actions .action-content.uucss-error{
    display: none;
}
.rapidload-on-board .actions .analyze-result.uucss-error .action-content{
    display: none;
}
.rapidload-on-board .actions .analyze-result.uucss-error .action-content.uucss-error{
    display: block;
}
.rapidload-on-board .analyze-form.actions .action-content{
    min-height: 230px;
}
.rapidload-on-board .act-button {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    background-color: #7F54B3;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    border: none;
    padding: 10px 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    width: 135px;
    text-decoration: none;
    display: inline-block;
}

.rapidload-on-board .act-button span.dashicons{
    display: none;
}

.rapidload-on-board .actions.done .act-button span.dashicons {
    display: inline-block;
}

.rapidload-on-board .skip-analyze {
    color: #c3c3c3;
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    left: calc(50% - 44px);
    top: -22px;
}

.rapidload-on-board .skip-analyze:hover {
    color: #c3c3c3;
    text-decoration: underline;
}

.rapidload-on-board .act-button:hover {
    background-color: #8056b3;
    color: #fff;
}
.rapidload-on-board .act-button:focus {
    outline: none;
}
.rapidload-on-board .skip-wrap {
    text-align: center;
}

.rapidload-on-board .skip-wrap a {
    color: #b0b0b0;
    font-size: 14px;
}
.rapidload-on-board .slide-contents-wrap{
    max-width: 255px;
    width: 100%;
    float: none;
    overflow: hidden;
    position: relative;
}

.rapidload-on-board .slide-contents {
    width: 2000%;
}

.rapidload-on-board .slide-content {
    max-width: 223px;
    width: 100%;
    float: left;
    padding-bottom: 50px;
}

.rapidload-on-board .slide-content .action-wrap {
    position: absolute;
    left: 33.5px;
}

.rapidload-on-board .logo-section {
    width: 220px;
    margin: 30px auto 0;
}

.rapidload-on-board .logo-section img {
    width: 100%;
}

.rapidload-on-board span.previous, .rapidload-on-board span.next  {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    border-radius: 50%;
    bottom: 10px;
    color: #b1a0c8;
    font-size: 10px;
    line-height: 20px;
    cursor: pointer;
}
.rapidload-on-board span.previous {
    left: -30px;
}

.rapidload-on-board span.next {
    right: -30px;
}

.rapidload-on-board.complete .steps-wrap {
    opacity: 0;
}

.plugins-php [data-slug="autoptimize-unusedcss-power-up"] a span {
    display: inline-block;
}


.rapidload-on-board .card-complete{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Helvetica Neueâ€, Helvetica, Arial, sans-serif;
}

.rapidload-on-board .card-complete .content {
    max-width: 300px;
    background-color: white;
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.rapidload-on-board .card-complete .content img{
    margin: 0 auto;
    width: 230px;
}

.rapidload-on-board .card-complete .content > p{
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
    font-style: italic;
}

.rapidload-on-board .card-complete .content .action-wrap{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.rapidload-on-board .card-complete .content .action-wrap a{
    width: 100px !important;
}

.rapidload-on-board .card-complete .content .action-wrap a.uucss-support{
    width: 120px !important;
}

.rapidload-on-board .card-complete .content .title{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    line-height: 42px;
    color: #7f54b3;
}

.rapidload-on-board .card-complete .content .title.error{
    color: #f44336;
}

.rapidload-on-board .card-complete .content .title.error,
.rapidload-on-board .card-complete .content .action-wrap a.uucss-support,
.rapidload-on-board .card-complete .content p.error{
    display: none;
}

.rapidload-on-board .card-complete.has-error .content .title.error,
.rapidload-on-board .card-complete.has-error .content p.error{
    display: block;
}

.rapidload-on-board .card-complete.has-error .content .action-wrap a.uucss-support{
    display: inline-block;
}

.rapidload-on-board .card-complete.has-error .content .title.success,
/*.rapidload-on-board .card-complete.has-error .content .action-wrap a.uucss-settings,*/
.rapidload-on-board .card-complete.has-error .content p.success{
    display: none;
}

.rapidload-on-board .card-complete .content .first-result{
    align-items: center;
    max-width: 230px;
    margin: 0 auto;
    text-align: left;
}

.rapidload-on-board.complete .plugin-steps{
    display: none;
}

.rapidload-on-board .card-complete{
    display: none;
    opacity: 0;
    animation-name: fadeIn;
    transition-timing-function: cubic-bezier(0.55, 0.59, 0, 0.92);
    animation-duration: 0.5s;
}

.rapidload-on-board.complete .card-complete{
    display: flex;
    opacity: 1;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.95);}
    100% { opacity: 1; transform: scale(1.0);}
}

.rapidload-on-board.complete .card-complete .error-result{
    display: none;
    align-items: center;
    max-width: 235px;
    margin: 0 auto;
    justify-content: center;
    background-color: lightgray;
    padding: 10px 15px;
}

.rapidload-on-board.complete .card-complete .error-result p{
    margin: 0;
    line-height: 20px;
}

.rapidload-on-board.complete .card-complete .content img.sad{
    display: none;
}

.rapidload-on-board.complete .card-complete.has-error .content img.sad{
    display: block;
}

.rapidload-on-board.complete .card-complete.has-error .content img.success{
    display: none;
}

.rapidload-on-board.complete .card-complete .content img.sad{
    display: none;
}

.rapidload-on-board.complete .card-complete .error-result p.error-code{
    font-size: 20px;
}

.rapidload-on-board.complete .card-complete .error-result p.error-description{
    font-size: 18px;
}

.rapidload-on-board.complete .card-complete.has-error .error-result{
    display: block;
}

.rapidload-on-board.complete .card-complete.has-error .first-result{
    display: none;
}

.on-board .tippy-content .error-tooltip span {
    font-size: 11px;
    line-height: 1.4 !important;
    display: inline-block;
}

.on-board .tippy-content .error-tooltip {
    margin: 5px 0;
    max-width: 230px;
}

.on-board .tippy-content .error-tooltip h5 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.on-board .card-complete .stat-tooltip {
    min-width: 220px;
}

.on-board .stat-tooltip p {
    margin: 0;
}

.on-board .stat-tooltip .progress-bar {
    height: 13px;
    position: relative;
    background: #f34337;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.on-board .stat-tooltip .progress-bar.w-100 > span {
    width: 100% !important;
}

.on-board .stat-tooltip .progress-bar > span {
    display: block;
    height: 100%;
    border-radius: 10px;
    background-color: #069583;
    position: relative;
    transition: ease width 1s;
    font-size: 7px;
    color: white;
    padding-right: 5px;
    line-height: 12px;
    animation-delay: 1s;
}

.on-board .stat-tooltip .progress-bar-wrapper {
    text-align: right;
    margin: 38px 0 34px;
    position: relative;
}

.on-board .stat-tooltip .progress-bar-wrapper em {
    font-size: 10px;
    border: 1px solid #b9a8d7;
    padding: 3px 5px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 3px;
    background: #f4f1f9;
    margin-right: 4px;
}

.on-board .stat-tooltip .progress-bar em {
    position: absolute;
    right: -5px;
    top: 12px;
}

.on-board .tippy-box[data-theme~='tomato'] {
    background-color: #fde4e2;
    color: #f24237;
    font-size: 10px;
}

.on-board .tippy-box[data-theme~='tomato'] .perc {
    background: #f34337;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
}

.on-board .tippy-box[data-theme~='tomato'] .tippy-arrow {
    color: #fde4e2;
}

.on-board .tippy-box[data-theme~=light] > .tippy-content {
    padding: 5px 10px;
}

.on-board .tippy-box[data-theme~='ketchup'] {
    background-color: #d4f7f3;
    color: #009687;
    font-size: 10px;
}

.on-board .tippy-box[data-theme~='ketchup'] .tippy-arrow {
    color: #d5f7f3;
    transform: translate3d(15px, 0px, 0px) !important;
}

.on-board .tippy-box[data-theme~='ketchup'] .perc {
    background: #009687;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: -2px;
}

.on-board .tippy-box[data-placement^=bottom]>.tippy-arrow:before{
    left: 90px !important;
}

.on-board .tippy-content{
    padding: 5px 5px;
}

/**
    Safelist
 */

.blocklist-list ul,
.safelist-list ul {
    margin: 1em;
}

.blocklist-list span.dashicons.dashicons-remove,
.safelist-list span.dashicons.dashicons-remove {
    vertical-align: middle;
    line-height: 1.25;
    color: #F44336;
    cursor: pointer;
    background: #eeeeee;
    border-radius: 100%;
}

.safelist-list .safelist-list-type {
    background: #674499;
    padding: 4px 8px;
    color: white;
    border-radius: 3px;
    margin-right: 2px;
    font-size: 12px;
}

/**
    info box
 */

#uucss-wrapper li#uucss-notification .content {
    overflow: hidden;
    border-radius: 0;
    padding: 10px 20px 10px 10px;
    border-left: solid #007cba;
}

#uucss-wrapper li#uucss-notification .content .uucss-info-wrapper {
    border: none;
    padding: 0;
    background: white;
}


.uucss-info-wrapper {
    position: relative;
    display: inline-block;
    padding: 10px;
    background: #f5f5f5;
    border-left: solid 3px #007cba;
    width: 100%;
}

.uucss-info-wrapper.uucss-notification-error {
    border-color: #F44336;
}

.uucss-info-wrapper h4 {
    margin: 4px 0;
}

.uucss-info-wrapper.uucss-notification-error .info-icon .dashicons {
    color: #F44336;
}

.uucss-info-wrapper.uucss-notification-warning {
    border-color: #FFC107;
}

.uucss-info-wrapper.uucss-notification-warning .info-icon .dashicons {
    color: #FFC107;
}

.uucss-info-wrapper .info-icon .dashicons {
    color: #007cba;
    font-size: 25px !important;
}

.uucss-info-wrapper .info-icon {
    position: absolute;
}

.uucss-info-wrapper .info-details p {
    margin: 0 !important;
}

.uucss-info-wrapper .info-details {
    padding-left: 36px;
}

.uucss-info-wrapper p.divider {
    margin: 5px 0 !important;
    height: 1px;
    background: #d9d9d9;
}

/* uucss page options */

#uucss-settings em {
    color: #9E9E9E;
}

#uucss-settings .example span {
    display: inline-block;
    margin-bottom: 4px;
}

#uucss-settings span em {
    background: #F5F5F5;
    color: #3F51B5;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 3px 8px;
}

#uucss-settings .safelist-add .input-wrap-flex{
    display: flex;
}

#uucss-settings .safelist-add input,
#uucss-settings .blocklist-add input{
   width: 100%;
}


#uucss-settings .safelist-add label,
#uucss-settings .blocklist-add label{
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 600;
    margin-left: 5px;
}

#uucss-settings .blocklist-add button.button,
#uucss-settings .safelist-add button.button {
    width: 100%;
    margin-top: 8px;
}

body.settings_page_uucss-onboarding,
body.settings_page_rapidload-onboarding{
    overflow: hidden;
}

#noty_layout__topCenter{
    z-index: 2147483650;
}

.featherlight{
    background: rgba(0, 0, 0, 0.8);
}

#wp-admin-bar-rapidload.bullet-green .ab-icon::before,
#wp-admin-bar-rapidload.bullet-green:focus .ab-icon::before,
#wp-admin-bar-rapidload.bullet-green:hover .ab-icon::before
{
    content: "\f226";
    color: #02CA02;
    font-size: 14px;
}

#wp-admin-bar-rapidload.bullet-red .ab-icon::before,
#wp-admin-bar-rapidload.bullet-red:focus .ab-icon::before,
#wp-admin-bar-rapidload.bullet-red:hover .ab-icon::before
{
    content: "\f226";
    color: #f44337;
    font-size: 14px;
}

#wp-admin-bar-rapidload.bullet-yellow .ab-icon::before,
#wp-admin-bar-rapidload.bullet-yellow:focus .ab-icon::before,
#wp-admin-bar-rapidload.bullet-yellow:hover .ab-icon::before
{
    content: "\f226";
    color: #ffc107;
    font-size: 14px;
}

.rapidload-notification.notice{
    border-color: #7F54B3;
    border-width: 2px !important;
    border-radius: 15px;
    background: #7F54B31A;
    max-width: 1000px;
}
.rapidload-notification .update-now{
    background: #7F54B3;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 4px 20px 7px 20px;
}
.rapidload-notification .learn-more{
    background: transparent;
    border: none;
    color: #7F54B3;
    font-weight: 600;
    padding-right: 20px;
}

.rapidload-notification .notify-buttons{
    padding-bottom: 10px;
}

.rapidload-notification p{
    color:#553779 !important;
    font-size: 14px;
}
.rapidload-notification h2{
    font-weight: 600;
    color:#553779 !important;
    margin-bottom: 2px !important;
    margin-top: 10px !important;
    font-size: 16px;
}

.rapidload-notification .top-header{
    margin-top: 10px;
    max-width: 180px;
    background: #7F54B3;
    color: white;
    padding: 5px 0px 5px 10px;
    border-radius: 50px;
}