/*

dark
#674399

light
#7f54b3

*/
#uucss-wrapper *:not(.dashicons) {
    font-family: Roboto, Helvetica Neueâ€, Helvetica, Arial, sans-serif;
}

#ao_settings_form .form-table th {
    font-weight: normal;
}

#autoptimize_imgopt_descr {
    font-size: 120%;
}

.uucss-tag .newtag,
.uucss-tag-links .newtag {
    width: 100%;
    max-width: 300px;
}

.uucss-tag-links .tagchecklist > li {
    width: 100%;
}

.uucss-tag input[type="text"].ui-autocomplete-loading {
    background: none;
}

#uucss-options em {
    color: #9E9E9E;
}

#uucss-options .example span {
    display: inline-block;
    margin-bottom: 4px;
}

#uucss-options span em {
    background: #F5F5F5;
    color: #3F51B5;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 3px 8px;
}

#uucss-options em#verification_status {
    margin-left: 10px;
}

#uucss-options em#verification_status.success {
    color: green;
}

#uucss-options em#verification_status.failed {
    color: red;
}

#uucss-options ul.select2-selection__rendered {
    max-height: 25px;
    padding: 0 !important;
    margin-top: 5px;
}

#uucss-options li.select2-selection__choice {
    margin: 5px !important;
}

#uucss-options li.select2-search.select2-search--inline {
    margin-left: 5px;
}

#uucss-wrapper > li {
    position: relative;
    display: table;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 1165px;
}

#uucss-wrapper .form-table th {
    font-weight: normal;
}

.uucss-toggle-section {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;
    display: inline-block;
    border-radius: 100%;
    transition: cubic-bezier(0.46, 0.03, 0.52, 0.96) transform .5s;
}

span.uucss-toggle-section.rotate {
    transform: rotate(180deg);
}

.uucss-toggle-section .dashicons {
    font-size: 16px;
    line-height: 1.25;
}

.uucss-intro .content {
    display: flex;
    flex-direction: column;
}

#uucss-wrapper li .dashicons{
    font-size: 16px;
}

#uucss-wrapper li .example{
    max-width: 460px;
    width: 100%;
}

#uucss-wrapper li .example .title h2{
    padding-left: 0;
}

#uucss-wrapper li .example .rules-content{
    padding-top: 5px;
}

#uucss-wrapper li .example .rules{
    display: flex;
}

#uucss-wrapper li .example .rules .rule{
    max-width: 225px;
    width: 100%;
}

#uucss-wrapper a.uucss-activate {
    background: #7f54b3;
    padding: 12px 28px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin: 12px 12px 15px;
    transition: ease background .3s;

}

#uucss-wrapper a.uucss-activate:hover {
    background: #674399;
}

.uucss-row {
    width: 100%;
    display: flex;
}


.uucss-intro img {
    width: 150px;
    padding: 0 25px;
}

#uucss-wrapper h2 {
    cursor: pointer;
    user-select: none;
    line-height: 1;
    padding: 10px 15px;
    border-bottom: 1px solid #cdd0d4;
    font-size: 15px;
    margin: 0;
}

#uucss-wrapper > li.submit {
    background-color: transparent;
    box-shadow: none;
    text-align: right;
    padding: 0;
    max-width: 1165px;
}

#uucss-wrapper > li.submit p.submit {
    text-align: left;
    margin-top: 0;
}

#uucss-wrapper > li.submit p img {
    float: right;
}

#uucss-wrapper li.uucss-history h2{
    padding-left: 15px;
}

#uucss-wrapper span.valid {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background: #009688;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 3px;
}

span.invalid {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background: #f44336;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 3px;
}

/*UUCSS HISTORY*/

table.dataTable thead td, table.dataTable.no-footer {
    border-color: #c5b1e7;
}

table.dataTable thead th {
    border: none;
    font-size: 10px;
    text-transform: uppercase;
}

#uucss-history thead {
    background: #674399;
    color: white;
    border-radius: 10px;
}

#uucss-history_wrapper div#uucss-history_info {
    font-size: 11px !important;
    margin: 2px 8px;
    padding-bottom: 8px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 8px 18px;
}

#uucss-wrapper li.uucss-history{
    padding: 0;
}

#uucss-wrapper li .content {
    padding: 10px 15px;
    background-position: right -15px bottom;
    background-repeat: no-repeat;
    border-radius: 4px;
}

#uucss-wrapper li.uucss-history .content{
    margin-top: 0;
    padding: 0;
}

#uucss-history tr td.url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#uucss-history {
    table-layout: fixed;
}

#uucss-history span.status{
    min-width: 40px;
    display: inline-block;
}

#uucss-history .success {
    background: #f2edf7;
    color: #7f54b3;
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 4px;
}

.uucss-notification.uucss-info-wrapper{
    padding: 0;
}

#uucss-history .queued {
    background: #eaeffa;
    color: #3362cc;
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 4px;
}

#uucss-history .failed {
    background: #ffd8d5;
    color: #f44337;
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 4px;
}

#uucss-history .action button {
    position: relative;
    font-size: 11px;
    border: none;
    padding: 5px 5px 5px 22px;
    background: #F44336;
    color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

#uucss-history .action button span.dashicons.dashicons-no-alt {
    position: absolute;
    left: 1px;
    top: 3px;
}

#uucss-history tr.loading {
    opacity: .5;
    background: #f2f2f2 !important;
}

#uucss-history .stats {
    vertical-align: middle;
    line-height: 2;
    cursor: pointer;
}

#uucss-history .stat-tooltip {
    min-width: 260px;
}

#uucss-history .stat-tooltip p {
    margin: 0;
}

#uucss-history .stat-tooltip .progress-bar {
    height: 13px;
    position: relative;
    background: #f34337;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#uucss-history .stat-tooltip .progress-bar.w-100 > span {
    width: 100% !important;
}

#uucss-history .stat-tooltip .progress-bar > span {
    display: block;
    height: 100%;
    border-radius: 10px;
    background-color: #069583;
    position: relative;
    transition: ease width .3s;
    font-size: 7px;
    color: white;
    padding-right: 5px;
    line-height: 12px;
}

.stat-tooltip .progress-bar-wrapper {
    text-align: right;
    margin: 38px 0 42px;
    position: relative;
}

.stat-tooltip .progress-bar-wrapper em {
    font-size: 10px;
    border: 1px solid #b9a8d7;
    padding: 3px 5px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 3px;
    background: #f4f1f9;
    margin-right: 4px;
}

.stat-tooltip .progress-bar em {
    position: absolute;
    right: -5px;
    top: 12px;
}

.tippy-box[data-theme~='tomato'] {
    background-color: #fde4e2;
    color: #f24237;
    font-size: 10px;
}

.tippy-box[data-theme~='tomato'] .perc {
    background: #f34337;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
}

.tippy-box[data-theme~='tomato'] .tippy-arrow {
    color: #ebe4f6;
}

.tippy-box[data-theme~=light] {

}

.tippy-box[data-theme~=light] > .tippy-content {
    padding: 5px 10px 0;
}


.tippy-box[data-theme~='ketchup'] {
    background-color: #d4f7f3;
    color: #009687;
    font-size: 10px;
}

.tippy-box[data-theme~='ketchup'] .tippy-arrow {
    color: #d5f7f3;
    transform: translate3d(15px, 0px, 0px) !important;
}

.tippy-box[data-theme~='ketchup'] .perc {
    background: #009687;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: -2px;
}

table#uucss-history{
    max-width: 1165px;
}

#uucss-history td span span.dashicons {
    color: #009688;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 1px;
}

#uucss-history td span span.dashicons.dashicons-warning{
    color: #FFC107;
}

#uucss-history td span span.dashicons.error {
    color: #f44337;
}

#uucss-history .tippy-content .error-tooltip span {
    font-size: 11px;
    line-height: 1.4 !important;
    display: inline-block;
}

#uucss-history .tippy-content .error-tooltip {
    margin: 5px 0;
    max-width: 230px;
}

#uucss-history .tippy-content .error-tooltip h5 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

#uucss-history .action .tippy-box {
    font-size: 9px;
}

.uucss-notice h4 {
    margin-bottom: .5em;
}

.uucss-notice {
    padding-bottom: .5em !important;
}

.uucss-notice.notice-success .dashicons,
.uucss-notice.notice-success strong,
#uucss-wrapper .left-section strong {
    color: #332e3a;
}

/**
    license info
 */

#uucss-wrapper .license-info {
    padding: 10px;
}

#uucss-wrapper .license-info.loading ul {
    visibility: hidden;
    display: block !important;
    min-height: 90px;
}

#uucss-wrapper .license-info ul {
    margin-bottom: 12px;
}

#uucss-wrapper .license-info a.uucss-activate {
    display: inline-block;
    padding: 10px 16px;
    margin: 0;
    font-size: 11px;
    border-radius: 3px;
    line-height: 1;
}

#uucss-wrapper .license-info span#license-message {
    margin-bottom: 5px;
    margin-left: 1px;
    display: inline-block;
}

#uucss-wrapper .license-info.loading .spinner {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: calc(50% - 20px);
    left: 85px;
}

.uucss-support a {
    padding: 14px 20px 12px 13px;
    position: fixed;
    right: 2.7em;
    bottom: 2.5em;
    background: #674499;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    transition: ease background .3s;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}

.uucss-support a:hover {
    background: #8055b2;
}

.uucss-support a .dashicons {
    margin-right: 8px;
    font-size: 1.8em;
    line-height: 0.7;
}

.uucss-support .tippy-content {
    background: white;
    color: black;
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#uucss-support-tooltip h3 {
    display: inline-block;
    padding: 5px;
    border-radius: 100px;
    font-size: 16px;
    margin: 5px 0;
    color: #484350;
}

#uucss-support-tooltip {
    font-size: 12px;
    margin: 0 10px 10px 10px;
    display: inline-block;
}

#uucss-support-tooltip h3 {
    display: inline-block;
    padding: 5px;
    border-radius: 100px;
    font-size: 16px;
    margin: 5px 0;
    color: #484350;
}

#uucss-support-tooltip {
    font-size: 12px;
    margin: 0 10px 10px 10px;
    display: inline-block;
}

.tippy-box[data-animation=shift-toward][data-state=hidden] {
    opacity: 0
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=top] {
    transform: translateY(-10px)
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=bottom] {
    transform: translateY(10px)
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=left] {
    transform: translateX(-10px)
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=right] {
    transform: translateX(10px)
}

/**
   Safelist pack styles
 */

#uucss-options span.select2.select2-container.select2-container--default {
    max-width: 470px;
    height: auto;
    margin-right: 5px;
    display: block;
}

.form-table input#uucss-pack-suggest {
    vertical-align: middle;
}

#uucss-options ul.select2-selection__rendered {
    padding: 1px 3px !important;
    max-height: fit-content;
    margin-top: 0px;
    display: block;
}

input#uucss-pack-suggest {
    margin-top: 10px;
    display: block !important;
}

#uucss-options .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 4px;
}

#uucss-options .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #aaa 1px;
    outline: 0;
}

#uucss-options .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #674499;
    border: 1px solid #674499;
    color: #fff;
}

#uucss-options li.select2-selection__choice {
    margin: 5px 3px 1px 3px !important;
    font-size: 12px;
    padding: 4px 8px 4px 6px;
}

#uucss-options li.select2-search.select2-search--inline {
    margin-left: 5px;
    margin-bottom: 0;
}

#uucss-options .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 4px;
}
.uucss-warnings{
    display: inline-block;
    border-top: 1px solid #ededed;
    padding: 5px 10px 0;
    margin-right: -10px;
    margin-left: -10px;
}

.uucss-warnings .warning-list{
    border-top: 1px solid #ededed;
    padding: 5px 10px 0;
    margin-right: -10px;
    margin-left: -10px;
}

.uucss-warnings .warning-list.scrollable{
    height: 130px;
    overflow-y: scroll;
}

.uucss-warnings .warnings-title{
    margin: 0 0 5px;
    font-size: 13px;
    font-weight: 700;
}

.uucss-warnings .warning{
    font-size: 1em !important;
    border-bottom: 1px solid #ededed;
    padding-bottom: 5px;
}

.uucss-warnings .warning-list li:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

.uucss-warnings .warning .warning-header{
    font-weight: 700;
    font-size: 12px;
}

.uucss-warnings .warning .warning-content a{
    font-size: 11px;
}

.tippy-content .stat-tooltip .time .val{
    font-size: 11px;
}

.tippy-content .stat-tooltip .time{
    margin-right: -10px;
    margin-left: -10px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}