
#ao_settings_form .form-table th {
    font-weight: normal;
}

#autoptimize_imgopt_descr {
    font-size: 120%;
}

.uucss-tag .newtag,
.uucss-tag-links .newtag {
    width: 100%;
    max-width: 300px;
}

.uucss-tag-links .tagchecklist > li {
    width: 100%;
}

.uucss-tag input[type="text"].ui-autocomplete-loading {
    background: none;
}

#uucss-options em {
    color: #9E9E9E;
}

#uucss-options .example span {
    display: inline-block;
    margin-bottom: 4px;
}

#uucss-options span em {
    background: #F5F5F5;
    color: #3F51B5;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 3px 8px;
}

#uucss-options em#verification_status {
    margin-left: 10px;
}

#uucss-options em#verification_status.success {
    color: green;
}

#uucss-options em#verification_status.failed {
    color: red;
}

#uucss-options ul.select2-selection__rendered {
    max-height: 25px;
    padding: 0 !important;
    margin-top: 5px;
}

#uucss-options li.select2-selection__choice {
    margin: 5px !important;
}

#uucss-options li.select2-search.select2-search--inline {
    margin-left: 5px;
}

#uucss-wrapper > li {
    position: relative;
    display: table;
    background-color: white;
    padding: 0 20px;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
    margin: 0 auto 15px;
    max-width: 690px;
}

#uucss-wrapper > li h2 {
    margin: 0;
}

#uucss-wrapper > li .content {
    margin: 12px 0;
}

#uucss-wrapper .form-table th {
    font-weight: normal;
}

.uucss-toggle-section {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;
    display: inline-block;
    border-radius: 100%;
}

.uucss-toggle-section .dashicons {
    font-size: 16px;
    line-height: 1.25;
}

.uucss-intro {
    margin: 32px auto 15px !important;
}

.uucss-intro .content {
    display: flex;
}

.uucss-intro img {
    width: 200px;
    padding: 0 25px;
}

#uucss-wrapper h2 {
    cursor: pointer;
    user-select: none;
    line-height: 1;
    padding: 10px 15px;
    border-bottom: 1px solid #cdd0d4;
    margin: 0 -20px !important;
    font-size: 15px;
}

#uucss-wrapper > li.submit {
    background-color: transparent;
    box-shadow: none;
    padding: 0 20px;
    text-align: right;
}

#uucss-wrapper > li.submit p.submit {
    text-align: right;
}

span.valid {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background: #4CAF50;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 3px;
}

span.invalid {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background: #f44336;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 3px;
}