.uucss-notice-action.notice-action{
    margin: 5px 0 15px;
    padding: 10px 10px;
}

.uucss-notice-action.notice-action .notice-action-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon{
    font-size: 20px;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content{
    padding: 0 10px;
    flex-grow: 4;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content p{
    margin: 0 0 5px 0;
}