.uucss-notice-action.notice-action{
    margin: 5px 0 15px;
    padding: 15px 20px;
    border-left-color: #7f54b3;
}

.uucss-notice-action.notice-action .notice-action-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uucss-notice-action.notice-action .notice-action-inner a.button.button-primary{
    background-color: #7f54b3;
    border-color: #7f54b3;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon{
    font-size: 20px;
}

.uucss-notice-action.notice-action .notice-action-inner h2.uucss-notice-title{
    padding: 2px 0;
    margin: 0 0 0 3px !important;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content{
    padding: 0 10px;
    flex-grow: 4;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content p{
    margin: 0 0 5px 0;
}