.uucss-notice-action.notice-action{
    margin: 5px 0 15px;
    padding: 15px 20px;
    border-left-color: #7f54b3;
}

.uucss-notice-action.notice-action .notice-action-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uucss-notice-action.notice-action .notice-action-inner a.button.button-primary{
    background-color: #7f54b3;
    border-color: #7f54b3;
}

.uucss-notice-action.notice-action .notice-action-inner a.button.button-primary:focus{
    outline: none;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon{
    font-size: 20px;
}

.uucss-notice-action.notice-action .notice-action-inner h2.uucss-notice-title{
    padding: 2px 0;
    margin: 0 0 0 3px !important;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content{
    padding: 0 10px;
    flex-grow: 4;
}

.uucss-notice-action.notice-action .notice-action-inner .notice-icon-content p{
    margin: 0 0 5px 0;
}

span.uucss-tab-title{
    display: flex;
}

span.uucss-tab-title img{
    margin-right: 5px;
}

/* On Boarding Page Style */

div.uucss-on-board{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    z-index: 99999;
    width: 100%;
    height: 100vh;
}

.uucss-on-board-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.uucss-on-board-popup.show{
    display: flex;
}

.uucss-popup-model {
    max-width: 500px;
    width: 100%;
}

.uucss-popup-model iframe{
    border-radius: 5px;
}

.plugin-steps {
    display: block;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}
.step-text li {
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.step-text ul {
    padding: 0;
    margin: 5px 0;
}
.progress-bar-wrap {
    width: 100%;
    background-color: #69459978;
    border-radius: 3px;
    margin: 0 auto;
}
#progress-bar {
    width: 1%;
    height: 6px;
    background-color: #7f54b3;
    transition: width .5s ease;
    border-radius: 3px;
}
.card {
    max-width: 230px;
    margin: 15px auto 25px;
    padding: 20px 15px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    display: flex;
    border: none;
}
.steps-wrap {
    max-width: 230px;
    margin: 5px auto;
}
.actions {
    text-align: center;
    position: relative;
}
.actions h2 {
    font-size: 16px;
    color: #585858;
    font-weight: 400;
    margin: 0 0 10px;
}

.actions p {
    font-size: 12px;
    line-height: 1.2;
    color: #585858;
    padding: 0 10px;
    margin: 0 0 20px;
}
.act-button {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    background-color: #7F54B3;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
    width: 120px;
    text-decoration: none;
    display: inline-block;
}

.act-button:hover {
    background-color: hsl(267 38% 52% / 0.9);
    color: #fff;
}
.act-button:focus {
    outline: none;
}
.skip-wrap {
    text-align: center;
}

.skip-wrap a {
    color: #b0b0b0;
    font-size: 14px;
}
.slide-contents-wrap{
    max-width: 255px;
    width: 100%;
    float: none;
    overflow: hidden;
    position: relative;
}

.slide-contents {
    width: 2000%;
}

.slide-content {
    max-width: 223px;
    width: 100%;
    float: left;
    overflow: hidden;
}

.uucss-on-board .logo-section {
    width: 150px;
    margin: 30px auto 0;
}

.uucss-on-board .logo-section img {
    width: 100%;
}

span.previous,span.next  {
    width: 20px;
    height: 20px;
    background-color: #d4d4d4;
    display: block;
    position: absolute;
    border-radius: 50%;
    bottom: 20px;
    color: #000;
    font-size: 10px;
    line-height: 20px;
}
span.previous {
    left: 5px;
}
span.next  {
    right: 5px;
}

.uucss-on-board.complete .steps-wrap {
    opacity: 0;
}