@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.animated-element {
    animation: translateLoop 3s infinite;
}

@keyframes translateLoop {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(400%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.TooltipContent {
    transform-origin: var(--radix-tooltip-content-transform-origin);
    animation: scaleIn 0.05s ease-out;
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}