
tr[data-slug="unusedcss"] span.deactivate{
    position: relative;
}

.uucss-feedback {
    background: #fff;
    max-width: 400px;
    z-index: 10000;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, .5);
    transition: all .3s ease-out;
}


.uucss-feedback .popup--header {
    position: relative;
    background-color: #674399;
}

.uucss-feedback .popup--header h5 {
    margin: 0;
    font-size: 16px;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: .3px;
}

.uucss-feedback .popup--body {
    padding: 15px;
}

.uucss-feedback .popup--form {
    margin: 0;
    font-size: 13px;
}

.uucss-feedback .popup--form input[type="radio"] {
    margin: 0 10px 0 0;
}

.uucss-feedback .popup--form input[type="radio"]:checked ~ textarea {
    display: block;
}

.uucss-feedback .popup--form textarea {
    width: 100%;
    margin: 10px 0 0;
    display: none;
    max-height: 150px;
}

.uucss-feedback li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.uucss-feedback li label {
    max-width: 90%;
}

.uucss-feedback li:last-child {
    margin-bottom: 0;
}

.uucss-feedback .popup--footer {
    padding: 0 15px 15px;
}

.uucss-feedback .actions {
    display: flex;
    flex-wrap: wrap;
}

.info-disclosure-link {
    width: 100%;
    margin-bottom: 15px;
}

.uucss-feedback .info-disclosure-content {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: .3s ease;
}

.uucss-feedback .info-disclosure-content.active {
    max-height: 300px;
}

.uucss-feedback .info-disclosure-content p {
    margin: 0;
}

.uucss-feedback .info-disclosure-content ul {
    margin: 10px 0;
    border-radius: 3px;
}

.uucss-feedback .info-disclosure-content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.uucss-feedback .buttons {
    display: flex;
    width: 100%;
}

.uucss-feedback .buttons input:last-child {
    margin-left: auto;
}

.uucss-plugin-uninstall-feedback-popup .popup--header:before {
    content: "";
    display: block;
    position: absolute;
    border: 20px solid #674399;
    left: -10px;
    top: 50%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 0;
    transform: translateY(-50%);
}

.uucss-plugin-uninstall-feedback-popup {
    display: none;
    position: absolute;
    white-space: normal;
    width: 400px;
    left: 100%;
    top: -15px;
}

.uucss-plugin-uninstall-feedback-popup.sending-feedback .popup--body i {
    animation: rotation 2s infinite linear;
    display: block;
    float: none;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background: transparent;
    padding: 0;
}

.uucss-plugin-uninstall-feedback-popup.sending-feedback .popup--body i:before {
    padding: 0;
    background: transparent;
    box-shadow: none;
    color: #b4b9be
}


.uucss-plugin-uninstall-feedback-popup.active {
    display: block;
}

body.uucss-feedback-open .uucss-feedback-overlay {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    position: fixed;
}

@media (max-width: 768px) {
    .uucss-plugin-uninstall-feedback-popup {
        position: fixed;
        max-width: 100%;
        margin: 0 auto;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
    }

    .uucss-plugin-uninstall-feedback-popup .popup--header:before {
        display: none;
    }
}